/* =========================
   Fonts
========================= */

@font-face {
    font-family: "Enthalpy298";
    src: url("/static/fonts/Enthalpy298.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FuturaNewCondBook";
    src: url("/static/fonts/FuturaNewCondBook.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTHoves";
    src: url("/static/fonts/TTHoves-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
