/* =========================
   Fonts
========================= */

@font-face {
    font-family: "Enthalpy298";
    src: url("/static/fonts/Enthalpy298.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "FuturaNewCondBook";
    src: url("/static/fonts/FuturaNewCondBook.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "TTHoves";
    src: url("/static/fonts/TTHoves-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* =========================
   Reset & Base
========================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "TTHoves", sans-serif;
  line-height: 1.4;
  background-color: var(--bg-color);
}

/* =========================
   Header
========================= */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}
/* HEADER */

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  justify-content: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* position: relative; */
  overflow: visible;
  z-index: 2000;
}


#header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 30px; /* совпадает с высотой SVG */

  -webkit-mask-image: url("/static/img/one_diamond.svg");
  -webkit-mask-repeat: repeat-x;

  -webkit-mask-size: 30px 30px;

  mask-image: url("/static/one_img/one_diamond.svg");
  mask-repeat: repeat-x;

  mask-size: 30px 30px;
  pointer-events: none;
  z-index: 2100;
}

/* Центр */
#header-center img {
  height: 47px;
}
/* =========================
   Layout
========================= */

main {
  padding: 16px;
  padding-top: 80px;
}

section {
  margin-bottom: 40px;
}

/* =========================
   Titles
========================= */

h2 {
  font-family: "Enthalpy298", "Times New Roman", serif;
  font-size: 28px;
  margin: 24px 0 16px;
  letter-spacing: 0.05em;
  text-align: center;
}

h3 {
  font-family: "FuturaNewCondBook", "Arial", sans-serif;
  font-size: 20px;
  margin: 20px 0 12px;
  text-align: center;
}

/* sub_1 */
h4 {
  font-family: "FuturaNewCondBook", "Arial", sans-serif;
  font-size: 17px;
  margin: 18px 0 8px;
  padding-left: 6px;
  opacity: 0.9;
  text-align: center;
}

/* sub_2 и глубже */
h5, h6 {
  font-family: "FuturaNewCondBook", "Arial", sans-serif;
  font-size: 15px;
  margin: 14px 0 6px;
  padding-left: 12px;
  opacity: 0.8;
  text-align: center;
}

/* =========================
   Menu Item
========================= */

.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.05);
}

.item:last-child {
  border-bottom: none;
}

.item-info {
  flex: 1;
  margin-right: 12px;
}

.item-name {
  font-family: "FuturaNewCondBook", "Arial", sans-serif;
  font-size: 18px;
  margin-bottom: 4px;
  padding-left: 6px;
}

.item-description {
  font-family: "TTHoves";
  font-size: 13px;
  opacity: 0.85;
  line-height: 1.3;
  padding-left: 6px;
}

.item-price {
  font-family: "TTHoves";
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

/* =========================
   Links
========================= */

a {
  color: #FAAC6E;
  text-decoration: none;
}

a:hover {
  color: #004650;
}



/* Footer */

.footer-category {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #1f1f1f;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  pointer-events: auto;

  transform: translateX(80px);
  opacity: 0;
  transition:
    transform 0.35s ease,
    opacity 0.35s ease,
    background-color 0.2s ease;
}

#footer-menu {
  position: fixed; /* ВАЖНО */
  right: 16px;
  bottom: 16px;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  pointer-events: none;
}


.footer-category.show {
  transform: translateX(0);
  opacity: 1;
}

.footer-category:hover {
  background: #2c2c2c;
}

/* сама иконка */
.footer-category .icon {
  width: 22px;
  height: 22px;
  background-color: #fff;

  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
