




/* 
    --background_main: #004650;
    --logo_main: #FAAC6E;
    --decorative_main: #00535E;
    --text_main: #FAAC6E; */

header {
    background-color: #00455082;
}

#header::after {
background-color: #004550c4;
}

#header-center{
    background-color: #FAAC6E;
    }

body {
    background-color: #004650;
    color: #FAAC6E;
}



#menu-btn {
  background-color: #FAAC6E; /* цвет иконки */
}


#top-menu {
    background: linear-gradient(to bottom, rgba(30,30,30,0.9), rgba(30,30,30,0));
}

/* IMAGES  decorative*/

.footer-category::before {
    background-color: #004650;
}

.imgCat {
    background-color: #00535E;
}
.subImg {
    background-color: #00535E;
}

.icon-mask {
    background-color: #FAAC6E;
}

.item {
    border-bottom: 1px solid rgba(250, 172, 110, 0.15);
}

.item-price {
    color: #FAAC6E;
}

h3 {
    color: #FAAC6E;
    /* background: #3B3B3C; */
}

a {
    color: #FAAC6E;
}
