
header {
    background-color: #00455082;
}

#header::after {
background-color: #004550c4;
/* background: linear-gradient(
    to bottom,
    #004550,
    #00455000
  ); */
}


body {
    background-color: #004650;
    color: #FAAC6E;
}



#menu-btn {
  background-color: #FAAC6E; /* цвет иконки */
}


#top-menu {
    background: linear-gradient(to bottom, rgba(30,30,30,0.9), rgba(30,30,30,0));
}

.item {
    border-bottom: 1px solid rgba(250, 172, 110, 0.15);
}

.item-price {
    color: #FAAC6E;
}

h3 {
    color: #FAAC6E;
    /* background: #3B3B3C; */
}

a {
    color: #FAAC6E;
}
