/* =========================
   Header
========================= */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}
/* HEADER */

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  justify-content: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* position: relative; */
  overflow: visible;
  z-index: 2000;
}


#header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 30px; /* совпадает с высотой SVG */
  -webkit-mask: url("/static/img/one_diamond.svg") repeat-x center / contain;
  mask: url("/static/img/one_diamond.svg") repeat-x center / contain;
  z-index: 2100;
}

/* Центр */
#header-center{
  height: 50px;
  flex-shrink: 0;
  width: 100%;
  /* background-color: #FAAC6E; */
  -webkit-mask: url("/static/img/logo.svg") no-repeat center / contain;
  mask: url("/static/img/logo.svg") no-repeat center / contain;
  z-index: 2101;
}
