
header {
    background-color: #E6E7E882;
}


#header::after {  
    background-color: #e6e7e8d6;

    /* background: linear-gradient(
        to bottom,
        #E6E7E882,
        #e6e7e800
  ); */
}



body {
    background-color: #E6E7E8;
    color: #3B3B3C;
}


#menu-btn {
  background-color: #FAAC6E; /* цвет иконки */
}


#top-menu {
    background: linear-gradient(to bottom, rgba(230,231,232,0.95), rgba(230,231,232,0));
}

.item {
    border-bottom: 1px solid rgba(59, 59, 60, 0.15);
}

.item-price {
    color: #004650;
}

h3 {
    color: #004650;
    /* background: #e9d1bc; */
}

a {
    color: #004650;
}
