<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Bar Menu</title>
    <script src="https://workflow.chickenkiller.com/static/scripts/cache-buster.js"></script>
    <!-- Telegram SDK -->
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script data-cache data-src="/static/scripts/app.js"></script>
    <script data-cache data-src="/static/scripts/menu.js"></script>
    
    <!-- Theme -->
    <link id="theme-style" rel="stylesheet" href="https://workflow.chickenkiller.com/static/css/light.css">
    <link rel="stylesheet" href="https://workflow.chickenkiller.com/static/css/base.css">
    <link rel="stylesheet" href="https://workflow.chickenkiller.com/static/css/loader.css">
    <script src="https://workflow.chickenkiller.com/static/scripts/font-test.js"></script>
    


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!-- SPLASH -->
<div id="splash">
  <div class="splash-content">
    <div class="splash-logo">БАРЫНЯ</div>
  </div>
</div>

<header>
  <div id="user-info"></div>
  <button id="menu-btn">☰</button>
</header>

<nav id="side-menu"></nav>

<main id="menu"></main>

<footer>
  <div id="footer-info"></div>
</footer>



<!-- <script src="/static/scripts/cache-buster.js"></script> -->


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="https://unpkg.com/postprocessing@6.29.1/build/postprocessing.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-pixelblast@1.0.0/dist/pixelblast.min.js"></script>

<script>
    new PixelBlast({
        container: '#background',
        color: '#1d646e',
        pixelSize: 6,
        variant: 'diamond'
    });
</script> -->
</body>
</html>
