
header {
    background-color: #e6e7e83a;
}


#header::after {  
    background-color: #e6e7e8cc;

}

#header-center{
    background-color: #00535e;
    }

body {
    background-color: #E6E7E8;
    color: #00535e;
}


#menu-btn {
  background-color: #FAAC6E; /* цвет иконки */
}


#top-menu {
    background: linear-gradient(to bottom, rgba(230,231,232,0.95), rgba(230,231,232,0));
}

/* IMAGES  decorative*/
.footer-category::before {
    background-color: #e9d1bc;
}
.imgCat {
    background-color: #e9d1bc;
}
.subImg {
    background-color: #e9d1bc;
}

.icon-mask {
    background-color: #00535e;
}

.item {
    border-bottom: 1px solid rgba(59, 59, 60, 0.15);
}

.item-price {
    color: #004650;
}

h3 {
    color: #004650;
    /* background: #e9d1bc; */
}

a {
    color: #004650;
}
