

/* Кнопка меню */
#menu-btn {
  position: absolute;
  right: 20px;
  top: 20;
  transform: translateY(-30%);
  z-index: 2100;
  cursor: pointer;
  width: 32px;
  height: 32px;
  -webkit-mask: url("/static/img/menu.svg") no-repeat center / contain;
  mask: url("/static/img/menu.svg") no-repeat center / contain;
}


/* =========================
   TOP MENU (Accordion)
========================= */

#top-menu {
  position: fixed;
  top: 120px;
  right: 12px;

  min-width: 200px;
  max-width: 90vw;
  max-height: 80vh;

  overflow-y: auto;
  padding: 8px 10px;

  z-index: 1000;
  display: none;

  background-color: var(--bg-color);
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
}

/* =========================
   Categories
========================= */

.menu-category {
  padding: 10px 12px;
  margin-bottom: 4px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s ease;
}

.menu-category:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* =========================
   Subcategories
========================= */

.menu-subcategories {
  display: none;
  flex-direction: column;
  margin-left: 12px;
  margin-bottom: 8px;
}

.menu-subcategories.open {
  display: flex;
}

.menu-subcategory {
  padding: 6px 4px;
  cursor: pointer;
  font-size: 0.95em;
  opacity: 0.85;
  transition: opacity 0.2s ease;
}

.menu-subcategory:hover {
  opacity: 1;
}