/* =========================
   Layout
========================= */

main {
  padding: 24px;
  padding-top: calc(var(--header-height) + 5px);
  padding-bottom: calc(var(--footer-height) + 5px);
}

section {
  margin-bottom: 40px;
}

/* =========================
   Titles
========================= */

h2 {
  font-family: "Enthalpy298", "Times New Roman", serif;
  font-size: 34px;
  margin: 24px 0 16px;
  letter-spacing: 0.05em;
  text-align: center;
}

h3 {
  font-family: "FuturaNewCondBook", "Arial", sans-serif;
  font-size: 30px;
  margin: 20px 0 12px;
  text-align: center;
}

/* sub_1 */
h4 {
  font-family: "FuturaNewCondBook", "Arial", sans-serif;
  font-size: 28px;
  margin: 18px 0 8px;
  padding-left: 3px;
  opacity: 0.9;
  text-align: center;
}

/* sub_2 и глубже */
h5, h6 {
  font-family: "FuturaNewCondBook", "Arial", sans-serif;
  font-size: 15px;
  margin: 14px 0 6px;
  padding-left: 12px;
  opacity: 0.8;
  text-align: center;
}
/* ===== CATEGORY HEADER ===== */

.category-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

/* ===== CATEGORY ICON (MASK) ===== */

.imgCat {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  align-items: center;


  -webkit-mask: var(--imgCat) no-repeat center / contain;
  mask: var(--imgCat) no-repeat center / contain;
}

/* ===== CATEGORY TITLE ===== */

.category-header h2 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
}
/* ===== SUBCATEGORY ICON (MASK) ===== */

.subImg {
  height: 24px;
  flex-shrink: 0;
  width: 100%;
  -webkit-mask: var(--subImg) no-repeat center / contain;
  mask: var(--subImg) no-repeat center / contain;
}
/* =========================
   Menu Item
========================= */
.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.05);
}

.item:last-child {
  border-bottom: none;
}

.item-info {
  flex: 1;
  margin-right: 12px;
}

.item-name {
  font-family: "FuturaNewCondBook", "Arial", sans-serif;
  font-size: 24px;
  /* margin-bottom: 3px; */
  padding-left: 2px;
  cursor: pointer;
}

.item-description {
  font-family: "TTHoves";
  font-size: 13px;
  line-height: 1.3;
  padding-left: 2px;

  opacity: 0;
  max-height: 0;
  overflow: hidden;

  transition:
    max-height 0.3s ease,
    opacity 0.2s ease;
}

.item.open .item-description {
  opacity: 0.85;
  max-height: 200px;
}

.item-price {
  font-family: "TTHoves";
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  line-height: 34px;
}


/* =========================
   Links
========================= */

a {
  color: #FAAC6E;
  text-decoration: none;
}

a:hover {
  color: #004650;
}




