
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
/* HEADER */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow: visible;
  z-index: 2000;
}

 #header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 30px;
  z-index: 2100;
 background:
    linear-gradient(#004650 100%, #004650 100%) repeat-x,
    linear-gradient(#004650 100%, #004650 100%) repeat-x,
    linear-gradient(#004650 100%, #004650 100%) repeat-x;

  background-size: 30px 30px;
  -webkit-mask: url("../img/one_diamond.svg") repeat-x center / contain;
  mask: url("../img/one_diamond.svg") repeat-x center / contain;

  animation: blink1 8s infinite, blink2 20.5s infinite, blink3 12.8s infinite;
}
 

/* Центр */
#header-center {
  position: absolute;
  left: 50%;
  top: calc(var(--tg-safe-area-inset-top, 60px) + 24px); /* опускаем логотип вниз на 10px */
  height: 80px;
  width: 160px;
  z-index: 2101;

  /* маска логотипа */
  -webkit-mask: url("../img/logo.svg") no-repeat center / contain;
  mask: url("../img/logo.svg") no-repeat center / contain;

  background-color: #FAAC6E; /* основной цвет логотипа */

  /* центрируем горизонтально */
  transform: translateX(-50%);

  /* мягкое свечение */
  box-shadow: 0 0 20px rgba(250, 172, 110, 0.0);
  animation: logoGlow 3s ease-in-out infinite alternate;
}

/* мягкое свечение вокруг логотипа */
@keyframes logoGlow {
  0%   { box-shadow: 0 0 0px rgba(250, 172, 110, 0.0); }
  50%  { box-shadow: 0 0 15px rgba(250, 172, 110, 0.25); }
  100% { box-shadow: 0 0 0px rgba(250, 172, 110, 0.0); }
}
